@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
   @apply px-[35px] mx-auto;
}

.edit-container {
   padding: 0 60px;
   width: 100%;
}

.header__image::before {
   background-color: black;
   content: "";
   height: 100%;
   left: 0;
   opacity: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

.active--scale {
   transform: scale(1) !important;
   transition: 0.2s;
}

.animate-opacity {
   animation: show-hide 0.7s linear infinite alternate;
}

.menu__link div {
   transform-origin: top;
}

@keyframes show-hide {
   from {
      opacity: 1;
   }

   to {
      opacity: 0.2;
   }
}

.hiking-section__text {
   word-spacing: 0.4em;
}

.hiking-section__container > * {
   flex-basis: 45%;
}

.hiking-section__category::before {
   background-color: black;
   bottom: 0;
   content: " ";
   height: 1px;
   position: absolute;
   transform-origin: left;
   transform: scaleX(0);
   transition: .5s ease-in;
   width: 100%;
}

.active--scaleX::before {
   transform: scaleX(1);
}

.hiking-section__right::before {
   transform-origin: right;
}

.hiking-section__left::before {
   transform-origin: left;
}

.active--scaleX .hiking-section__second-wrapper {
   transform: translateY(-51%);
}
.hiking-section__image {
   bottom: -60%;
   right: 0;
}
.hiking-section__image img{
   transform-origin: bottom;
   transition: 1s;
   width: 40%;

}
.active--scaleY {
   opacity: 0;
   transition: .3s !important;
}
.translate--one{
   transform: translateY(0) !important;
   transition: .8s !important;
}
.translate--two{
   transform: translateY(50px) !important;
   transition: .8s !important;
}
.translate--three{
   transform: translateY(110px) !important;
   transition: .8s !important;
}

